@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@400;700&family=Nunito:ital,wght@0,400;0,700;1,400&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

a {
  display: block;
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.container {
  max-width: 960px;
  margin: 0 auto;
}

.title {
  font: 700 3rem/1 "Nunito", sans-serif;
  color: #222222;
  padding: 60px 10px;
}

.subtitle {
  font: 700 3rem/1.35 "Nunito", sans-serif;
  color: #222222;
}